<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EMUHALPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EMUMIDIDriver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>EMUUSBAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EMUUSBAudioFloatLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>generic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>iokit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>troep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C022C4919E3A7030090651E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C022C5D19E3A9AD0090651E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C022C7319E3A9D50090651E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7735EC19E320A000ED3FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C77360319E321F100ED3FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C77361419E3224500ED3FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CCF78421B123F7C00B610A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CE13CAE1A1767EE002F5603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
